@media (max-width: 400px) {
    main{
        display: flex;
    }
}

/* main{
    grid-template-columns: 1rem 1rem 1rem 1rem;
    grid-template-rows: auto;
} */

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }