body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    

}

header{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  
  /* background-color: red; */
}

.hero{
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 4;
 border-style:  solid ;
 border-color: black;
 margin: 5px;
 /* padding: 10px; */
 text-align: center;


 /* background-color: blue; */
  }

  .news{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border-style: solid;
    border-color: black;
    /* background-color: red; */
    margin: 5px;
    padding: 10px;
    text-align: center;
   
  }

  .spot1{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
    /* background-color: purple; */
  }

  .spot2{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
    /* background-color: brown; */
  }

  .spot3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
    /* background-color: lightblue; */

  }

  .event{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
    /* background-color: pink; */
  }

  .weather{
        grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
    /* background-color: yellow; */

  }

  .join{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
    /* background-color: green; */

  }
