body{
  display: flex;
  justify-content: space-between;
  max-width: fit-content;
  
}


.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: auto;
  /* max-width: auto; */

}
img{
  max-width: 1fr;
  height: auto;
}

.fitt_law{
  grid-column: 1/3;
  grid-row: 1;
}

img{
  height: 450px;
  width: 600px;
  row-gap: 25px;

}

.hicks_law{
  grid-column: 2/3;
  grid-row: 2;
}

.visual_hiearchy{
  grid-column: 3/3;
  grid-row: 3;
}

@media (max-width: 600px) {
  body{
    background: blue;
    display: grid;
    grid-column-start: auto;
    grid-row: repeat(3);
    /* grid-column: 0/1; */
    /*column-width: 90%;*/
  }

  .fitt_law{
    grid-column: 0/1;
    grid-row: 0/1;
  }
    
  .hicks_law{
    grid-column: 0/1;
    grid-row: 1/2;
  }
  
  .visual_hiearchy{
    grid-column: 0/1;
    grid-row: 2/3;
  }

  
}