body{
  display: flex;
  justify-content: space-between;
  max-width: fit-content;
  padding: 25px;
  
}


.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: auto;
  gap: 25px;
  /* max-width: auto; */

}


.fitt_law{
  grid-column: 1;
  grid-row: 1;
}

img{
  height: 450px;
  width: 600px;

}

.hicks_law{
  grid-column: 2;
  grid-row: 1;
}

.visual_hiearchy{
  grid-column: 3;
  grid-row: 1;
}

@media (max-width: 600px) {
  body{
    display: grid;
    grid-template-columns: 475px;
    grid-row: repeat(3);
    padding: 25px;
    /* grid-column: 0/1; */
    column-width: 90%;
  }
.main{
  width: 95%;
}
  .fitt_law{
    grid-column: 1;
    grid-row: 1;
  }
    
  .hicks_law{
    grid-column: 1;
    grid-row: 2;
  }
  
  .visual_hiearchy{
    grid-column: 1;
    grid-row: 3;
  }
img{
 /* width: 95%;*/
  height: auto;
  padding: 50px;
  margin: 25px;
}

  
}