*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    height: auto;
    width: 250px;
}
.main-nav{
    display: flex;
}
header{
    background-color: royalblue;
}
  

#menu{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: lightcoral;
    color: darkred;
}

#menu::before{
    content: "≡";
}

nav{
    background-color: orange;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}
.naviagtion li{
    display:none;
}

.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active{
    color:white;
    background-color: black;
}
.show li{
    display: block;
}
#menu.show::before{
    content:"X";
}
@media only screen and (min-width: 40em) {
    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 100%;
    }
    .navigation a {
      text-align: center;
    }
    #menu {
      display: none;
    }
  }